<div>
  <h2 id="page-heading" data-cy="ParishEmailHeading">
    <span>Parish Emails</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parish-email"
        [routerLink]="['/parish-email/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Parish Email </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parishEmails?.length === 0">
    <span>No parishEmails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parishEmails && parishEmails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="emailNewsletterSubscription">
            <span>Email Newsletter Subscription</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emailEventNotificationSubscription">
            <span>Email Event Notification Subscription</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parish.id"><span>Parish</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parishEmail of parishEmails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parish-email', parishEmail.id, 'view']">{{ parishEmail.id }}</a>
          </td>
          <td>{{ parishEmail.email }}</td>
          <td>{{ parishEmail.type }}</td>
          <td>{{ parishEmail.emailNewsletterSubscription }}</td>
          <td>{{ parishEmail.emailEventNotificationSubscription }}</td>
          <td>
            <div *ngIf="parishEmail.parish">
              <a [routerLink]="['/parish', parishEmail.parish?.id, 'view']">{{ parishEmail.parish?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parish-email', parishEmail.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parish-email', parishEmail.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(parishEmail)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parishEmails && parishEmails.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
