<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span>People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Person </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span>No people found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefix"><span>Prefix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="preferredName"><span>Preferred Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="middleName"><span>Middle Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="suffix"><span>Suffix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nameTag"><span>Name Tag</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="currentMember"><span>Current Member</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="membershipStartDate"><span>Membership Start Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="membershipExpirationDate"><span>Membership Expiration Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isHeadOfHouse"><span>Is Head Of House</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isDeceased"><span>Is Deceased</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="spouse.id"><span>Spouse</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="membershipLevel.id"><span>Membership Level</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="headOfHouse.id"><span>Head Of House</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ribbon.id"><span>Ribbon</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parish.id"><span>Parish</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.prefix }}</td>
          <td>{{ person.preferredName }}</td>
          <td>{{ person.firstName }}</td>
          <td>{{ person.middleName }}</td>
          <td>{{ person.lastName }}</td>
          <td>{{ person.suffix }}</td>
          <td>{{ person.nameTag }}</td>
          <td>{{ person.currentMember }}</td>
          <td>{{ person.membershipStartDate | formatMediumDate }}</td>
          <td>{{ person.membershipExpirationDate | formatMediumDate }}</td>
          <td>{{ person.isHeadOfHouse }}</td>
          <td>{{ person.isDeceased }}</td>
          <td>
            <div *ngIf="person.spouse">
              <a [routerLink]="['/person', person.spouse?.id, 'view']">{{ person.spouse?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.membershipLevel">
              <a [routerLink]="['/membership-level', person.membershipLevel?.id, 'view']">{{ person.membershipLevel?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.headOfHouse">
              <a [routerLink]="['/person', person.headOfHouse?.id, 'view']">{{ person.headOfHouse?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.ribbon">
              <a [routerLink]="['/ribbon', person.ribbon?.id, 'view']">{{ person.ribbon?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.parish">
              <a [routerLink]="['/parish', person.parish?.id, 'view']">{{ person.parish?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="people && people.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
