<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <h1>Transactions</h1>
    <form [formGroup]="addTransaction" (ngSubmit)="submit()">
      <div class="row d-flex justify-content-around">
        <span class="col d-flex" formGroupName="person">
          <span>
            <label class="text-nowrap">Person ID:</label>
            <mark class="mr-5 ml-2">{{ person.id }}</mark>
          </span>
          <span>
            <label class="text-nowrap">First Name:</label>
            <mark class="mr-5 ml-2">{{ person.firstName }}</mark>
          </span>
          <span>
            <label class="text-nowrap">Last Name:</label>
            <mark class="mr-5 ml-2">{{ person.lastName }}</mark>
          </span>
        </span>
        <span class="col-4">
          <label>Date: </label>
          <input type="date" class="ml-3" formControlName="date" autofocus />
        </span>
      </div>
      <hr />
      <h4>Tickets</h4>
      <div class="d-flex justify-content-around mb-3" style="display: flex">
        <input type="number" class="form-control" placeholder="$ cost/ticket" formControlName="costPerTicket" />
        <input type="number" class="form-control" placeholder="# of tickets" formControlName="numberOfTickets" />
        <select class="form-control" name="event" formControlName="ticketEvent">
          <option [ngValue]="null">(Event)</option>
          <option [ngValue]="eventOption" *ngFor="let eventOption of eventList">
            {{ eventOption.name }}
          </option>
        </select>
        <label class="text-nowrap mx-3">Total cost:</label>
        <input
          type="text"
          disabled
          class="form-control"
          [value]="addTransaction.get('costPerTicket')?.value * addTransaction.get('numberOfTickets')?.value | currency"
        />
      </div>
      <h4>Event Donation</h4>
      <div class="d-flex">
        <input type="number" class="form-control" placeholder="$ donation" formControlName="eventDonationAmount" />
        <span class="mx-5">for</span>
        <select class="form-control" name="event" formControlName="event">
          <option [ngValue]="null">(Event)</option>
          <option [ngValue]="eventOption" *ngFor="let eventOption of eventList">
            {{ eventOption.name }}
          </option>
        </select>
      </div>
      <hr />
      <div class="row d-flex mx-0">
        <h4 class="col">Membership</h4>
        <h4 class="col">Donation</h4>
      </div>
      <div class="d-flex">
        <div class="d-flex mb-3 col">
          <select class="form-control" data-cy="membershipLevel" name="membershipLevel" formControlName="membershipLevel">
            <option [ngValue]="null">(Membership Level)</option>
            <option [ngValue]="membershipLevelOption" *ngFor="let membershipLevelOption of membershipList">
              {{ membershipLevelOption.level }}
            </option>
          </select>
          <input type="number" class="form-control" placeholder="# of memberships" formControlName="numberOfMemberships" />
          <!-- TODO -->
          <input type="number" class="form-control" placeholder="$ membership paid" disabled value="" />
        </div>
        <div class="d-flex mb-3 col">
          <input type="number" class="form-control" placeholder="Donation to Credo" formControlName="donationAmount" />
        </div>
      </div>
      <h4>Miscellaneous items</h4>
      <div class="d-flex mb-3">
        <input type="text" class="form-control" placeholder="Description of items purchased" formControlName="itemDescriptions" />
        <input type="number" class="form-control" placeholder="$ for total items" formControlName="itemDollarAmount" />
      </div>
      <div class="d-flex">
        <span class="text-nowrap mr-3">Total amount for this transaction:</span>
        <input
          type="text"
          class="form-control"
          formControlName="totalAmount"
          (onChange)="addTransaction.get('totalAmount')?.setValue(calculateTotalAmount())"
          [value]="calculateTotalAmount() | currency"
        />
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
