<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span>Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span>Count</span></dt>
        <dd>
          <span>{{ ticket.count }}</span>
        </dd>
        <dt><span>Cost Per Ticket</span></dt>
        <dd>
          <span>{{ ticket.costPerTicket }}</span>
        </dd>
        <dt><span>Picked Up</span></dt>
        <dd>
          <span>{{ ticket.pickedUp }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="ticket.person">
            <a [routerLink]="['/person', ticket.person?.id, 'view']">{{ ticket.person?.id }}</a>
          </div>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
          <div *ngIf="ticket.event">
            <a [routerLink]="['/event', ticket.event?.id, 'view']">{{ ticket.event?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
