<div>
  <h1 class="d-flex">Ticket View</h1>
  <div class="d-flex justify-content-center">
    ID: {{ person.id }} First Name: {{ person.firstName }} Middle Name: {{ person.middleName }} Last Name: {{ person.lastName }}
  </div>
  <div class="d-flex justify-content-center"># of Tickets: Event: Event Date: Purchase Date: $ Amount</div>
  <div class="d-flex justify-content-center">Name tags:</div>
  <div class="d-flex justify-content-center">Collected: <input type="checkbox" class="form-control" /></div>
</div>
