<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="parishPhone">
      <h2 data-cy="parishPhoneDetailsHeading"><span>Parish Phone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ parishPhone.id }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ parishPhone.phoneNumber }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ parishPhone.type }}</span>
        </dd>
        <dt><span>Parish</span></dt>
        <dd>
          <div *ngIf="parishPhone.parish">
            <a [routerLink]="['/parish', parishPhone.parish?.id, 'view']">{{ parishPhone.parish?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/parish-phone', parishPhone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
