<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="organizationPhone">
      <h2 data-cy="organizationPhoneDetailsHeading"><span>Organization Phone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ organizationPhone.id }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ organizationPhone.phoneNumber }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ organizationPhone.type }}</span>
        </dd>
        <dt><span>Organization</span></dt>
        <dd>
          <div *ngIf="organizationPhone.organization">
            <a [routerLink]="['/organization', organizationPhone.organization?.id, 'view']">{{ organizationPhone.organization?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/organization-phone', organizationPhone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
