<div *ngIf="personFormGroup" [formGroup]="personFormGroup">
  <div class="row">
    <div class="form-group col-1">
      <input placeholder="Prefix" type="text" class="form-control" formControlName="prefix" />
    </div>
    <div class="form-group col">
      <input placeholder="First Name" type="text" class="form-control" formControlName="firstName" />
    </div>
    <div class="form-group col">
      <input placeholder="Middle Name" type="text" class="form-control" formControlName="middleName" />
    </div>
    <div class="form-group col">
      <input placeholder="Last Name" type="text" class="form-control" formControlName="lastName" />
    </div>
    <div class="form-group col-1">
      <input placeholder="Suffix" type="text" class="form-control" formControlName="suffix" />
    </div>
    <!-- <span><fa-icon class="fa-2x" icon="trash-alt"></fa-icon></span> -->
  </div>
  <div class="row" style="margin-bottom: 10px">
    <!-- Phones -->
    <div class="col-6">
      <div class="col-12" formArrayName="phones" *ngFor="let phone of getFormArray('phones').controls; let i = index">
        <div [formGroupName]="i">
          <div class="row col-12">
            <div class="form-group col-6">
              <input placeholder="Phone Number" type="text" class="form-control" formControlName="number" />
            </div>
            <div class="form-group col-5">
              <input placeholder="Type" type="text" class="form-control" formControlName="type" />
            </div>
            <!-- <span class="col-1 d-flex justify-items-center"><fa-icon class="fa-2x" icon="trash-alt"></fa-icon></span> -->
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="col-11 btn btn-secondary" (click)="addPhoneToForm('phones')">Add Phone</button>
      </div>
    </div>
    <!-- Emails -->
    <div class="col-6">
      <div class="col-12" formArrayName="emails" *ngFor="let email of getFormArray('emails').controls; let i = index">
        <div [formGroupName]="i">
          <div class="row col-12">
            <div class="form-group col-6">
              <input placeholder="Email" type="text" class="form-control" formControlName="email" />
            </div>
            <div class="form-group col-5">
              <input placeholder="Type" type="text" class="form-control" formControlName="type" />
            </div>
            <!-- <span class="col-1 d-flex justify-items-center"><fa-icon class="fa-2x" icon="trash-alt"></fa-icon></span> -->
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="col-11 btn btn-secondary" (click)="addEmailToForm('emails')">Add Email</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <input placeholder="Name tag" type="text" class="form-control" formControlName="nameTag" />
    </div>
    <div class="form-group col">
      <select
        class="form-control"
        id="field_membershipLevel"
        data-cy="membershipLevel"
        name="membershipLevel"
        formControlName="membershipLevel"
      >
        <option [ngValue]="null">(Membership Level)</option>
        <option
          [ngValue]="
            membershipLevelOption.id === personFormGroup?.get('membershipLevel')?.value?.id
              ? personFormGroup?.get('membershipLevel')?.value
              : membershipLevelOption
          "
          *ngFor="let membershipLevelOption of membershipLevels; trackBy: trackMembershipLevelById"
        >
          {{ membershipLevelOption.level }}
        </option>
      </select>
      <!-- <input placeholder="Membership level" type="text" class="form-control" formControlName="membershipLevel" /> -->
    </div>
    <div class="form-group col">
      <label class="form-control-label">Member Since</label>
      <input type="date" class="form-control" formControlName="memberSince" />
    </div>
    <div class="form-group col">
      <label class="form-control-label">Member Expiration Date</label>
      <input placeholder="Membership expiration date" type="date" class="form-control" formControlName="memberExpDate" />
    </div>
    <div class="form-group col row">
      <label class="form-control-label">Deceased?</label>
      <input type="checkbox" class="form-control" formControlName="deceased" />
    </div>
  </div>
</div>
