<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h1 class="text-capitalize text-center">Create Person</h1>
    <!-- TODO: Update spacing for form -->
    <form name="editForm" role="form" novalidate [formGroup]="rootPersonForm" (ngSubmit)="submit()">
      <!-- Head of Household -->
      <div>
        <jhi-edit-person-subform [personFormGroup]="getFormGroup('hoh')"></jhi-edit-person-subform>
      </div>
      <!-- Addresses -->
      <div class="row" formArrayName="addresses" *ngFor="let address of getFormArray('addresses').controls; let i = index">
        <div [formGroupName]="i" class="row col">
          <div class="form-group col">
            <input placeholder="Street Address" type="text" class="form-control" formControlName="address" />
          </div>
          <div class="form-group col-2">
            <input placeholder="City" type="text" class="form-control" formControlName="city" />
          </div>
          <div class="form-group col-1">
            <input placeholder="State" type="text" class="form-control" formControlName="state" />
          </div>
          <div class="form-group col-2">
            <input placeholder="Zipcode" type="text" class="form-control" formControlName="zipcode" />
          </div>
          <!-- <span><fa-icon class="fa-2x" icon="trash-alt"></fa-icon></span> -->
        </div>
      </div>
      <button type="button" (click)="addAddressToForm('addresses')" class="btn btn-primary col-1" id="addAddress">Add Address</button>
      <hr />
      <!-- Spouse -->
      <!-- Row 2 -->
      <div>
        <button *ngIf="!hasSpouse" (click)="addSpouse()" type="button" class="btn btn-primary">+ Add spouse</button>
        <span *ngIf="hasSpouse">Spouse</span>
        <jhi-edit-person-subform *ngIf="hasSpouse" [personFormGroup]="getFormGroup('spouse')"></jhi-edit-person-subform>
      </div>
      <!-- HH member -->
      <div>
        <!-- Row 1 -->
        <div class="row">
          <button type="button" disabled class="btn btn-primary">+ Add HH member</button>
        </div>
      </div>
      <!-- Notes and misc household details -->
      <div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <textarea rows="5" placeholder="Notes" class="form-control" formControlName="notes"></textarea>
            </div>
            <div class="form-group">
              <textarea rows="3" placeholder="Mailing label" class="form-control" formControlName="mailingLabel"></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="form-group col-8">
                <input [attr.disabled]="true" placeholder="Parish" type="text" class="form-control" formControlName="parish" />
              </div>
              <span class="col-4">{{ hoh.id }}</span>
            </div>
            <div class="row">
              <div class="form-group col-8">
                <input [attr.disabled]="true" placeholder="Organizations" type="text" class="form-control" />
              </div>
              <button type="button" disabled class="btn btn-secondary col">+ Add Organization</button>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label class="form-control-label">Receive mail?</label>
                <select placeholder="Y/N" class="form-control" formControlName="receiveMail">
                  <option value="EMPTY"></option>
                  <option>YES</option>
                  <option>NO</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="this.rootPersonForm.invalid" type="submit" class="btn btn-primary" data-cy="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>
