<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-name-tag-heading" data-cy="NameTagCreateUpdateHeading">Create or edit a Name Tag</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nameTag">Name Tag</label>
          <input type="text" class="form-control" name="nameTag" id="field_nameTag" data-cy="nameTag" formControlName="nameTag" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ticket">Ticket</label>
          <select class="form-control" id="field_ticket" data-cy="ticket" name="ticket" formControlName="ticket">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ticketOption.id === editForm.get('ticket')!.value?.id ? editForm.get('ticket')!.value : ticketOption"
              *ngFor="let ticketOption of ticketsSharedCollection; trackBy: trackTicketById"
            >
              {{ ticketOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
