<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="personPhone">
      <h2 data-cy="personPhoneDetailsHeading"><span>Person Phone</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ personPhone.id }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ personPhone.phoneNumber }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ personPhone.type }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="personPhone.person">
            <a [routerLink]="['/person', personPhone.person?.id, 'view']">{{ personPhone.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/person-phone', personPhone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
