<div class="row">
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Search Person</h1>
    <hr />
    <form name="editForm" role="form" novalidate (ngSubmit)="search(1)" [formGroup]="searchForm">
      <div class="row">
        <div class="form-group col">
          <input placeholder="First Name" autofocus type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="form-group col">
          <input placeholder="Last Name" type="text" class="form-control" formControlName="lastName" />
        </div>
        <button class="btn btn-primary col-1" type="submit">Search</button>
      </div>
      <!-- test table -->
      <div class="table-responsive" *ngIf="personList && personList.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="search">
              <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="preferredName"><span>Preferred Name</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="middleName"><span>Middle Name</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col" jhiSortBy="spouse.id"><span>Spouse Name</span> <fa-icon icon="sort"></fa-icon></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of personList; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/edit-person', person.id]">{{ person.id }}</a>
              </td>
              <td>{{ person.preferredName }}</td>
              <td>{{ person.firstName }}</td>
              <td>{{ person.middleName }}</td>
              <td>{{ person.lastName }}</td>
              <td>
                <div *ngIf="person.spouse">
                  <a [routerLink]="['/person', getHohId(person?.spouse), 'view']"
                    >{{ person.spouse?.firstName }} {{ person.spouse?.lastName }}</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="search($event)"
        ></ngb-pagination>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>
